<br>
<div class="container">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="registredName">Registred Name</label>
        <input type="text" class="form-control" id="registredName" placeholder="ex.: Coca-Cola Indústrias Ltda."
          formControlName="registeredName">
        <small *ngIf="form.get('registeredName').invalid && form.get('registeredName').touched">Registred Name invalid</small>
      </div>
      <div class="form-group col-md-6">
        <label for="tradingName">Trading Name</label>
        <input type="text" class="form-control" id="tradingName" placeholder="ex.: Coca-Cola"
          formControlName="tradingName">
        <small *ngIf="form.get('tradingName').invalid && form.get('tradingName').touched">Trading Name Invalid</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="taxPayerRegistration">Tax Payer Registration</label>
        <input type="text" class="form-control" id="taxPayerRegistration" placeholder="ex.: 88.474.930/0001-28"
          formControlName="taxPayerRegistration">
        <small *ngIf="form.get('taxPayerRegistration').invalid && form.get('taxPayerRegistration').touched">Tax Payer Registration Invalid</small>
      </div>
      <div class="form-group col-md-6">
        <label for="stateSubscription">State Subscription</label>
        <input type="text" class="form-control" id="stateSubscription" placeholder="ex.: 46504296-1"
          formControlName="stateSubscription">
        <small *ngIf="form.get('stateSubscription').invalid && form.get('stateSubscription').touched">Strate Subscription Invalid</small>
      </div>
    </div>
    <button type="submit" class="btn btn-success btn-block" (click)="submit()" [disabled]="form.invalid">Submit</button>
    
  </form>
</div>